<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados</title>
    <style>
      h1 {
        font-weight: 700;
        text-align: center;
      }
      form {
        padding-top: 2rem;
        display: grid;
        place-content: center;
      }
    </style>
  </head>
  <body>
    <h1>{{ juego_recomendado.titulo }}</h1>
    <br />
    <section>
      <h4>Acerca de este juego:</h4>
      <p>{{ juego_recomendado.descripcion }}</p>
    </section>
    <section>
      <h4>Generos que contiene el juego:</h4>
      <p>{{ juego_recomendado.generos }}</p>
    </section>
    <form action="{{ url_for('hello_world') }}" action="GET">
      <button type="submit">Volver a intentar</button>
    </form>
  </body>
</html>
